README.md
dbtlearn/dbt_project.yml
dbtlearn/analyses/.gitkeep
dbtlearn/macros/.gitkeep
dbtlearn/models/example/my_first_dbt_model.sql
dbtlearn/models/example/my_second_dbt_model.sql
dbtlearn/models/example/schema.yml
dbtlearn/seeds/.gitkeep
dbtlearn/snapshots/.gitkeep
dbtlearn/tests/.gitkeep
logs/dbt.log
